@import url("https://fonts.googleapis.com/css2?family=Inter:wght@300;400;500;600;700;800&display=swap");
@import "tailwindcss";

@theme {
    --font-sans: "Inter", sans-serif;

    --color-primary-50: #f0fdf9;
    --color-primary-100: #ccfbef;
    --color-primary-200: #a7f3d0;
    --color-primary-400: #1d9e75;
    --color-primary-500: #0f6e56;
    --color-primary-600: #085041;
    --color-primary-700: #04342c;
    --color-white: #fafaf8;
    --color-gray-50: #f5f4f1;
    --color-gray-100: #ecede5;
    --color-gray-200: #dedbd4;
    --color-gray-300: #cac6bc;
}

[x-cloak] {
    display: none !important;
}

dialog {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    margin: 0;
    border: none;
    padding: 0;
}

dialog::backdrop {
    background: rgba(0, 0, 0, 0.35);
    backdrop-filter: blur(2px);
}
